---
- name: Include distribution and version-specific vars.
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
      skip: true

- name: Set the default MariaDB Python package
  ansible.builtin.set_fact:
    mariadb_python_package: "{{ __mariadb_python_package }}"
  when: mariadb_python_package is not defined and ansible_facts['os_family'] == 'Debian'

- name: Include Setup tasks
  ansible.builtin.include_tasks: "setup.yml"

- name: Check if MySQL packages were installed.
  ansible.builtin.set_fact:
    mariadb_installed_packages: "{{ mariadb_deb_packages_is_installed is defined and mariadb_deb_packages_is_installed.changed }}"

- name: Include configuration tasks
  ansible.builtin.include_tasks: configure.yml

- name: Include Secure Installation
  ansible.builtin.include_tasks: secure-installation.yml
  no_log: true

- name: Database creation
  ansible.builtin.include_tasks: databases.yml

- name: Users creations and rights
  ansible.builtin.include_tasks: users.yml

- name: Local dump script
  ansible.builtin.include_tasks: dump.yml
  when: mariadb_use_dump_script
