---
- name: Ensure root password is set
  community.mysql.mysql_user:
    name: "{{ mariadb_root_username }}"
    host: "localhost"
    password: "{{ mariadb_root_password }}"
    check_implicit_admin: true
    login_unix_socket: "{{ mariadb_socket }}"
    state: present
  no_log: true

- name: Copy .my.cnf with root crendetial
  ansible.builtin.template:
    src: my-root.cnf.j2
    dest: "{{ mariadb_root_home }}/.my.cnf"
    owner: "root"
    group: "root"
    mode: "0600"
  no_log: true

- name: Disallow root login remotely
  community.mysql.mysql_user:
    name: "{{ mariadb_root_username }}"
    host: '%'
    state: absent
    check_implicit_admin: true
    login_unix_socket: "{{ mariadb_socket }}"

- name: Removes all anonymous user accounts
  community.mysql.mysql_user:
    name: ''
    host_all: true
    state: absent
    check_implicit_admin: true
    login_unix_socket: "{{ mariadb_socket }}"

- name: Remove test database
  community.mysql.mysql_db:
    name: test
    state: absent
    check_implicit_admin: true
    login_unix_socket: "{{ mariadb_socket }}"
